html,body {
  height:100%;
}
body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: white;
}
.panel-body {
  border: 0;
  padding: 0;
}
.navbar {
  min-height: 75px;
  padding-top: 10px;
  margin-bottom: 15px;
}
.navbar-header {
  padding: 10px 20px 10px 20px;
}
.navbar > .container > .navbar-collapse {
  border: none;
}
.thumbnail {
  border: none;
}
.col-sm-2 {
  padding-bottom: 5px;
}
.btn {
  margin-top: 15px;
  vertical-align: middle;
}
.btn-default {
  color: #1c69d4;
  background-color: white;
  border-color: #1c69d4;
}
.btn-default:active {
  color: #fff;
  background-color: #d1cdc2;
  border-color: #d1cdc2;
}
.btn-default:hover {
  color: #fff;
  background-color: #d1cdc2;
  border-color: #d1cdc2;
}
.list-group-item {
  border: 0;
}
.btn-lg {
  width: 200px;
  font-size: 14px;
  line-height: 1.33;
  border-radius: 1;
}

p, .p {
  font-family: 'BMW Web Bold', Arial;
  font-weight: normal;
  line-height: 1.1;
  margin: 20px 0 10px;
  white-space: normal;
  color: #aaa38e;
}
h2, .h2 {
  margin-bottom: 5px;
  margin-top: 5px;
  font-family: 'BMW Web Bold', Arial;
  font-weight: bold;
  line-height: 1.1;
  color: inherit;
}
