<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyPoD.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BE70CB95F0F71915DC41DCDB49E1BBD3619CC30D</string>
				<key>dateExpires</key>
				<string>10/13/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>A84JTBCNV7.com.titansoftware.easypod</string>
				<key>com.apple.developer.team-identifier</key>
				<string>A84JTBCNV7</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>easyPoD.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>88ef9c34-24d0-49f6-aeab-91443002a5f7</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.titansoftware.easypod</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>A84JTBCNV7</string>
				<key>name</key>
				<string>Titan Software, LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
