<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyPoD.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>43B0BD6B05F96417FD93AF25814B4603235604A1</string>
				<key>dateExpires</key>
				<string>9/5/22</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>A84JTBCNV7.com.titansoftware.easypodpsprd</string>
				<key>com.apple.developer.team-identifier</key>
				<string>A84JTBCNV7</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>easyPoD.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6121652e-a109-44d3-8636-3ffbcca6d2d7</string>
				<key>name</key>
				<string>easyPoD Primesource PRD</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>A84JTBCNV7</string>
				<key>name</key>
				<string>Titan Software, LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
